body {
    background-image: url(nyc.jpg);
    background-size: 100% 100%;

    height: inherit;
    width: inherit;

    background-repeat: no-repeat;
}

.image{
    position: absolute;
    top: 625px;
    left: 0;
/*    color: white;*/
}

.hotspot{
    position: absolute;
    border: 2px solid red;
}

.hotspot + * {
    pointer-events: none;
    opacity: 0;
}

.hotspot:hover + *{
    opacity: 1;
}

.hover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; 
    right: 0; 
}

.text{
    color: black;
}



.girl{
    position: absolute;
    top: 575px;
    left: 1000px;
}
